*{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, rgb(124, 118, 118), black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;              
}
.music-player{
    background: rgb(138, 132, 132);
    width: 400px;
    padding: 25px 35px;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
nav .circle{
border-radius: 50%;
width: 40px;
height: 40px;
line-height: 40px;
background: #fff;
color: rgb(3, 1, 1);
box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.22);
}
.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #ffff;
    box-shadow: 0 10px 60px #0a0a0a;
}
.music-player h1{
    font-size: 20px;
    font-weight: 400;
    color: #070707;
    margin-top: 20px;
}
.music-player p{
    font-family: 14px;
    color: black;
}
#progress{
-webkit-appearance: none;
width: 100%;
height: 6px;
background: #000000;
border-radius: 4px;
cursor: pointer;
margin: 20px 0;
}
#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #050505;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid #ffffff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.22);
}
.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}
.controls div{
    width: 50px;
    height: 50px;
    margin: 20px;
    background: #ffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #000000;
    box-shadow: #0a0a0a;
    cursor: pointer;
}
.controls div:nth-child(2){
    /* transform: scale(2); */
    background: rgb(0, 0, 0);
    color: #ffffff;
}