*{
    box-sizing: border-box;
}
body{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
body.dark{
    background-color: black;
    color: white;
}
.container{
    border: 2px solid blue;
    padding: 5px;
    margin: 20px 90px 20px;
}
.container.dark{
    background-color: black;
    color: white;
}